<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Blesk s.r.o. faktúra</title>
    </head>
    <body>
        <p>Dobrý deň v prílohe tohto mailu Vám posielame faktúru. Prosím uhraďte ju najneskôr do 7 dní. S pozdravom tím Blesk.</p>
    </body>
</html>