<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Zmena stavu zásielky</title>
    </head>
    <body>
        <h1>Stav zásielky</h1>
        <p>Stav Vašej zásielky bolo zmenené na: <%= shipmentStatus %></p>
    </body>
</html>